{% extends 'Loged_base.html' %}

{% block content %}

<meta http-equiv="refresh" content="3;url=/Agent">

{% if success_message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{success_message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h3>Purchase Information:</h3>
        <div></div>
        <div></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Purchase Credit Card</th>
                <th scope="col">price charged</th>
            </tr>
            </thead>
            <tbody>
                {% for line in result %}
                <tr>
                    <td>{{line['ticket_id']}}</td>
                    <td>{{line['purchase_date']}}</td>
                    <td>{{line['credit_card_number']}}</td>
                    <td>{{line['figure']}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        <div></div>
        
    {% endif %}
   
{% endblock %}