{% extends 'Loged_base.html' %}

{% block content %}

<a class="btn btn-primary" href="/Staff" role="button">Back Home</a>
<p></p>
<div></div>


    {% if error_duplicate %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{error_duplicate}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% elif add_success_message %}
        <div class="alert alert-sucess alert-dismissible fade show" role="alert">
            <strong>{{add_success_message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}

    <form method = "Post" action = "" class="row g-3 align-items-center">
        <div class="col-6">
            <span>Airplane ID</span>
            <input type="number" min = "1" max = "100000" class="form-control" name="airplane_id" placeholder="Only accept integer" required>
        </div>
        <div class="col-3">
            <span>Seats</span>
            <input type="number" min="1" max="1000" class="form-control" name = "seats" placeholder="between 1 and 1000" required>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Add Airplane</button>
        </div>
      </form>
    <div></div>

{% endblock %}