{% extends 'Loged_base.html' %}

{% block content %}

<h2>Direct and Indirect Revenue from last month</h2><br/>
<canvas id="myChart1" width="800" height="800"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart1').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Direct Revenue','Indirect Revenue'],
        datasets: [{
            label: 'Top 5 Customers in Commission',
            data: {{chart1_values | safe}},
            backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            hoverOffset: 4
        }]
    },
    options: {
        responsive:false
    }   
});
</script>
<br/>

<h2>Direct and Indirect Revenue from last year</h2><br/>
<canvas id="myChart2" width="800" height="800"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Direct Revenue','Indirect Revenue'],
        datasets: [{
            label: 'Top 5 Customers in Commission',
            data: {{chart2_values | safe}},
            backgroundColor: [
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            hoverOffset: 4
        }]
    },
    options: {
        responsive:false
    }   
});
</script>

{% endblock %}