{% extends 'Loged_base.html' %}

{% block content %}
{% if Admin_permission %}
    <form method="Post"> 
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            <label for="username">Username</label>
        </div><br/>
        <h3>Permission type</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="." id="Admin" name="Admin" ckecked>
            <label class="form-check-label" for="Admin">
              Administrator 
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="." id="Operator" name="Operator" ckecked>
            <label class="form-check-label" for="Operator">
                Operator 
            </label>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        <h1></h1>
        {% if error %}
              <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
    
{% else %}
    <h1>You do not have the permission!</h1>
{% endif %}

{% endblock %}